.content {
    display: grid;
    place-items: center;
    min-height: 100dvh;
    margin-inline: auto;
    gap: 20px;
    padding: 24px 0;
}

.content__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 1em;
    margin-inline: auto;
    align-self: end;
    & > * {
        display: flex;
        flex-direction: column;
        width: 285px;
        height: 100%;
        padding: 0;
        background: rgba(31, 31, 31, 0.23);
        border-radius: 15px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.1px);
        -webkit-backdrop-filter: blur(6.1px);
    }
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-base-lt);
    align-self: end;
}

.match_found {
    align-self: start;
}

@media (min-width: 700px) and (max-width: 1020px) {
    .content__wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .content__wrapper > *:last-child {
        grid-column: span 2;
    }
}

@media (min-width: 1021px) {
    .content__wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}
