:root {
    --clr-base: hsl(0, 0%, 40%);
    --clr-base-lt: hsl(0, 0%, 78%);
    --clr-base-dk: hsl(0, 0%, 20%);

    --clr-secondary-lt: #355f5d;
    --clr-secondary-dk: #031121;

    --clr-neutral-min: #fff;
    --clr-neutral-max: #000;

    --clr-rating-tier-1: hsl(211, 34%, 80%);
    --clr-rating-tier-1-lt: hsl(211, 34%, 90%);
    --clr-rating-tier-1-dk: hsl(211, 34%, 50%);
    --clr-rating-tier-2: hsl(212, 61%, 69%);
    --clr-rating-tier-2-dk: hsl(212, 61%, 50%);
    --clr-rating-tier-3: hsl(230, 96%, 72%);
    --clr-rating-tier-3-dk: hsl(230, 96%, 50%);
    --clr-rating-tier-4: hsl(262, 97%, 71%);
    --clr-rating-tier-4-dk: hsl(262, 97%, 50%);
    --clr-rating-tier-5: hsl(293, 54%, 59%);
    --clr-rating-tier-5-dk: hsl(293, 54%, 45%);
    --clr-rating-tier-6: hsl(0, 79%, 69%);
    --clr-rating-tier-6-dk: hsl(0, 79%, 50%);
    --clr-rating-tier-7: hsl(38, 86%, 63%);
    --clr-rating-tier-7-dk: hsl(38, 86%, 45%);

    --fs-xs: 0.75rem;
    --fs-sm: 0.9rem;
    --fs-base: 1rem;
}

html {
    height: 100dvh;
}

body {
    height: 100%;
    background: linear-gradient(
        to top right,
        var(--clr-secondary-lt) 0%,
        var(--clr-secondary-dk) 40%,
        var(--clr-secondary-dk) 60%,
        var(--clr-secondary-lt) 100%
    );
    color: var(--clr-neutral-min);
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    overflow: hidden;
}

.content__background {
    position: absolute;
    bottom: -300px;
    left: 0;
    right: 0;
    z-index: -1;
    font-size: 600px;
}

.content__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    margin-inline: auto;
}

.content__wrapper > * {
    padding: 1em;
    border-radius: 15px;
    background: rgba(31, 31, 31, 0.23);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.1px);
    -webkit-backdrop-filter: blur(6.1px);
}

/*  */

.user__wrapper {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 1.5em;
}

.user__avatar {
    width: min(100%, 50px);
    border-radius: 100%;
}

.user__link {
    font-size: 1.5rem;
    color: var(--clr-neutral-min);
    text-decoration: none;
}

.user__stats {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.stat {
    display: grid;
}

.stat--center {
    justify-items: center;
}

.stat__wrapper {
    display: flex;
    gap: 0.5em;
}

.stat__wrapper--even {
    display: flex;
    justify-content: space-between;
    gap: 0.25em;
}

.stat__wrapper__recent {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.25em;
}

.stat__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;
}

.stat__name {
    color: var(--clr-base-lt);
    font-size: var(--fs-sm);
    text-transform: uppercase;
}

.stat__country {
    width: 30px;
}

.stat__elo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stat__fc-level {
    width: 20px;
}

.stat__recent-games {
    display: flex;
    gap: 0.25em;
}

.stat__recent-games--win {
    color: green;
}

.stat__recent-games--loss {
    color: red;
}

.rating-item {
    display: flex;
    gap: 0.25em;
}

.rating-item > img {
    display: block;
    width: min(25px, 100%);
}

.rating {
    --clr-tier-dk: transparent;
    --w-rating-strip: 4px;
    width: 80px;
    position: relative;
    padding: 0.35em;
    outline: 1px solid var(--clr-tier-dk);
    border-radius: 3px;
    transform: skew(-5deg);
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: var(--w-rating-strip);
        background-color: var(--clr-tier-dk);
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: calc(var(--w-rating-strip) * 2);
        width: var(--w-rating-strip);
        background-color: var(--clr-tier-dk);
    }

    p {
        margin-left: 0.75em;
        color: var(--clr-tier-dk);
        font-weight: 700;
        text-shadow: 0 1px 0 var(--clr-neutral-max);
    }

    &.tier-1 {
        --clr-tier-dk: var(--clr-rating-tier-1-dk);
        background-color: var(--clr-rating-tier-1);
    }

    &.tier-2 {
        --clr-tier-dk: var(--clr-rating-tier-2-dk);
        background-color: var(--clr-rating-tier-2);
    }

    &.tier-3 {
        --clr-tier-dk: var(--clr-rating-tier-3-dk);
        background-color: var(--clr-rating-tier-3);
    }

    &.tier-4 {
        --clr-tier-dk: var(--clr-rating-tier-4-dk);
        background-color: var(--clr-rating-tier-4);
    }

    &.tier-5 {
        --clr-tier-dk: var(--clr-rating-tier-5-dk);
        background-color: var(--clr-rating-tier-5);
    }

    &.tier-6 {
        --clr-tier-dk: var(--clr-rating-tier-6-dk);
        background-color: var(--clr-rating-tier-6);
    }

    &.tier-7 {
        --clr-tier-dk: var(--clr-rating-tier-7-dk);
        background-color: var(--clr-rating-tier-7);
    }
}


