:root {
    --clr-base: #312b39;

    --clr-neutral-min: #fff;
    --clr-neutral-max: #000;

    --clr-rating-tier-1: hsl(211, 34%, 80%);
    --clr-rating-tier-1-lt: hsl(211, 34%, 90%);
    --clr-rating-tier-1-dk: hsl(211, 34%, 50%);
    --clr-rating-tier-2: hsl(212, 61%, 69%);
    --clr-rating-tier-2-dk: hsl(212, 61%, 50%);
    --clr-rating-tier-3: hsl(230, 96%, 72%);
    --clr-rating-tier-3-dk: hsl(230, 96%, 50%);
    --clr-rating-tier-4: hsl(262, 97%, 71%);
    --clr-rating-tier-4-dk: hsl(262, 97%, 50%);
    --clr-rating-tier-5: hsl(293, 54%, 59%);
    --clr-rating-tier-5-dk: hsl(293, 54%, 45%);
    --clr-rating-tier-6: hsl(0, 79%, 69%);
    --clr-rating-tier-6-dk: hsl(0, 79%, 50%);
    --clr-rating-tier-7: hsl(38, 86%, 63%);
    --clr-rating-tier-7-dk: hsl(38, 86%, 45%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    font-family: "Lato", sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

html {
    height: 100dvh;
}

body {
    display: grid;
    place-items: center;
    height: 100%;
    background-color: var(--clr-base);
    color: var(--clr-neutral-min);
}

.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    width: min(60rem, 100%);
}

.content__steam-link {
    color: var(--clr-neutral-min);
    text-decoration: none;
}

.content__steam-avatar {
    width: min(100%, 100px);
}

.stat.recent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;
}

.wrapper__faceit__cs2 {
    display: grid;
    gap: 1em;
}

.wrapper__faceit__cs2 .wrapper__general {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
}

.wrapper__leetify {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;
}

.tleetify-rating {
    grid-column: 2 / -1;
}

.rating-container {
    display: flex;
    gap: 0.5em;
}

.rating-item {
    display: flex;
    gap: 0.25em;
}

.rating-item > img {
    display: block;
    width: min(25px, 100%);
}

.rating {
    --clr-tier-dk: transparent;
    --w-rating-strip: 4px;
    width: 80px;
    position: relative;
    padding: 0.35em;
    outline: 1px solid var(--clr-tier-dk);
    border-radius: 3px;
    transform: skew(-5deg);
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: var(--w-rating-strip);
        background-color: var(--clr-tier-dk);
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: calc(var(--w-rating-strip) * 2);
        width: var(--w-rating-strip);
        background-color: var(--clr-tier-dk);
    }

    p {
        margin-left: 0.75em;
        color: var(--clr-tier-dk);
        font-weight: 700;
        text-shadow: 0 1px 0 var(--clr-neutral-max);
    }

    &.tier-1 {
        --clr-tier-dk: var(--clr-rating-tier-1-dk);
        background-color: var(--clr-rating-tier-1);
    }

    &.tier-2 {
        --clr-tier-dk: var(--clr-rating-tier-2-dk);
        background-color: var(--clr-rating-tier-2);
    }

    &.tier-3 {
        --clr-tier-dk: var(--clr-rating-tier-3-dk);
        background-color: var(--clr-rating-tier-3);
    }

    &.tier-4 {
        --clr-tier-dk: var(--clr-rating-tier-4-dk);
        background-color: var(--clr-rating-tier-4);
    }

    &.tier-5 {
        --clr-tier-dk: var(--clr-rating-tier-5-dk);
        background-color: var(--clr-rating-tier-5);
    }

    &.tier-6 {
        --clr-tier-dk: var(--clr-rating-tier-6-dk);
        background-color: var(--clr-rating-tier-6);
    }

    &.tier-7 {
        --clr-tier-dk: var(--clr-rating-tier-7-dk);
        background-color: var(--clr-rating-tier-7);
    }
}
