.content {
    display: grid;
    place-items: center;
    min-height: 100dvh;
    width: min(40rem, 100%);
    margin-inline: auto;
}

.app_title {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    font-size: 3rem;
    color: var(--clr-base-lt);

    & .win {
        line-height: 0;
    }

    & .com {
        text-decoration: line-through;
        color: var(--clr-base);
    }

    & > p {
        align-self: flex-end;
    }
}

.search_form {
    display: grid;
    grid-template-columns: 1fr auto;
    box-shadow: 0 0 150px 10px var(--clr-secondary-lt);
    transition: box-shadow ease-in-out 0.25s;

    &:focus-within {
        box-shadow: 0 0 150px 10px var(--clr-secondary-dk);
    }
}

.profile_input {
    width: 100%;
    padding: 0.5rem;
    background-color: hsla(0, 0%, 0%, 0.7);
    color: white;
    border: none;
    border-radius: 8px 0px 0px 8px;

    &:focus-within {
        outline: 1px solid var(--clr-secondary-lt);
    }
}

.error {
    padding-left: 0.5rem;
    color: red;
}

.search_btn {
    border: none;
    padding-inline: 0.5em;
    background-color: var(--clr-base-lt);
    border-radius: 0 8px 8px 0;
    transition: background-color ease-in-out 0.15s;

    & > svg {
        width: 18px;
    }

    &:focus-within {
        outline: 1px solid var(--clr-secondary-lt);
    }

    &:hover {
        cursor: pointer;
    }
}

.floating_input_wrapper {
    position: relative;

    & > label {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: rgb(120, 120, 120);
        padding: 0.5rem;
        font-size: 0.85rem;
        transition: all 0.3s ease-in-out;
        user-select: none;
    }

    &:focus-within > label,
    & > label:has(+ input:not(:placeholder-shown)) {
        transform: translateY(-180%);
        color: rgb(231, 231, 231);
        font-size: 1rem;
        padding: 0;
    }
}
