<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CS stats</title>
    </head>
    <body>
        <main class="content">
            {% if "error" not in user_stats.steam.general %}
            <div class="content__user">
                <a
                    class="content__steam-link"
                    href="{{ user_stats.steam.general.profileurl }}"
                >
                    {{ user_stats.steam.general.personaname }}
                </a>
                <img
                    class="content__steam-avatar"
                    src="{{ user_stats.steam.general.avatarfull }}"
                    alt="Steam profile avatar"
                />
                <p>
                    Joined
                    <time>
                        {{ user_stats.steam.general.timecreated | datetimeformat
                        }}
                    </time>
                </p>
            </div>
            {% else %}
            <div class="content__user">
                <h3>Profile not found</h3>
            </div>
            {% endif %} {% if "error" not in user_stats.leetify %}
            <div class="content__cs">
                <h2>CS</h2>
                <div class="wrapper__cs">
                    <div class="stat premiere-rating">
                        <h3>CURRENT RATING</h3>
                        <div
                            class="rating {{ user_stats.leetify.currentRatingTier }}"
                        >
                            <p>
                                {{ user_stats.leetify.currentPremiereRating }}
                            </p>
                        </div>
                    </div>
                    <div class="stat max-premiere-rating">
                        <h3>MAX RATING</h3>
                        <div
                            class="rating {{ user_stats.leetify.maxRatingTier }}"
                        >
                            <p>{{ user_stats.leetify.maxPremiereRating }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="content__cs">
                <h2>CS</h2>
                <h3>Profile not found</h3>
            </div>
            {% endif %} {% if "error" not in user_stats.faceit %}
            <div class="content__faceit">
                <h2>FACEIT</h2>
                {% if "error" not in user_stats.faceit.cs2 %}
                <div class="wrapper__faceit__cs2">
                    <div class="wrapper__general">
                        <div class="stat country">
                            <h3>COUNTRY</h3>
                            <img
                                src="https://flagcdn.com/{{ user_stats.faceit.cs2.country }}.svg"
                                width="30"
                                alt="Country"
                            />
                        </div>
                        <div class="stat level">
                            <h3>LEVEL</h3>
                            <img
                                src="{{ 
                                url_for('static', filename='images/faceit/' ~ user_stats.faceit.cs2.statsCS2.skill_level ~ '.png') 
                            }}"
                                width="25"
                                alt="Faceit Level"
                            />
                        </div>
                        <div class="stat nickname">
                            <h3>NICKNAME</h3>
                            <p>{{ user_stats.faceit.cs2.nickname }}</p>
                        </div>
                        <div class="stat joined">
                            <h3>JOINED</h3>
                            <p>
                                {{ user_stats.faceit.cs2.createdAt |
                                formatisodate }}
                            </p>
                        </div>
                    </div>
                    <div class="stat wrapper__recent">
                        <h3>RECENT STATS</h3>
                        <div class="stat recent">
                            <div class="stat list_recent adr">
                                <h4>ADR</h4>
                                <p>
                                    {{ user_stats.faceit.recentGameStats.adr }}
                                </p>
                            </div>
                            <div class="stat list_recent kills">
                                <h4>Kills</h4>
                                <p>
                                    {{ user_stats.faceit.recentGameStats.kills
                                    }}
                                </p>
                            </div>
                            <div class="stat list_recent deaths">
                                <h4>Deaths</h4>
                                <p>
                                    {{ user_stats.faceit.recentGameStats.deaths
                                    }}
                                </p>
                            </div>
                            <div class="stat list_recent assists">
                                <h4>Assists</h4>
                                <p>
                                    {{ user_stats.faceit.recentGameStats.assists
                                    }}
                                </p>
                            </div>
                            <div class="stat list_recent headshot_percentage">
                                <h4>Headshots</h4>
                                <p>
                                    {{
                                    user_stats.faceit.recentGameStats.headshot_percentage
                                    }}
                                </p>
                            </div>
                            <div class="stat list_recent kd_ratio">
                                <h4>K/D Ratio</h4>
                                <p>
                                    {{
                                    user_stats.faceit.recentGameStats.kd_ratio
                                    }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %} {% if "error" not in user_stats.faceit.csgo %}
                <div>CSGO FOUND</div>
                {% endif %}
            </div>
            {% else %}
            <div class="content__faceit">
                <h2>FACEIT</h2>
                <h3>Profile not found</h3>
            </div>
            {% endif %} {% if "error" not in user_stats.leetify %}
            <div class="content__leetify">
                <h2>Leetify</h2>
                <div class="wrapper__leetify">
                    <div class="stat aim">
                        <h3>AIM</h3>
                        <p>
                            {{
                            "%.2f"|format(user_stats.leetify.recentGameRatings.aim)
                            }}
                        </p>
                    </div>
                    <div class="stat positioning">
                        <h3>POSITIONING</h3>
                        <p>
                            {{
                            "%.2f"|format(user_stats.leetify.recentGameRatings.positioning)
                            }}
                        </p>
                    </div>
                    <div class="stat utility">
                        <h3>UTILITY</h3>
                        <p>
                            {{
                            "%.2f"|format(user_stats.leetify.recentGameRatings.utility)
                            }}
                        </p>
                    </div>
                    <div class="stat opening">
                        <h3>ENTRY</h3>
                        <p>
                            {{
                            "%.2f"|format(user_stats.leetify.recentGameRatings.opening
                            * 100) }}
                        </p>
                    </div>
                    <div class="stat tleetify-rating">
                        <h3>RATING</h3>
                        <div class="rating-container">
                            <div class="rating-item">
                                <img
                                    src="{{ url_for('static', filename='images/t.webp') }}"
                                    alt="T-side rating"
                                />
                                <p>
                                    {{
                                    "%.2f"|format(user_stats.leetify.recentGameRatings.tLeetify
                                    * 100) }}
                                </p>
                            </div>
                            <div class="rating-item">
                                <img
                                    src="{{ url_for('static', filename='images/ct.webp') }}"
                                    alt="CT-side rating"
                                />
                                <p>
                                    {{
                                    "%.2f"|format(user_stats.leetify.recentGameRatings.ctLeetify
                                    * 100) }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="stat ctleetify-rating">
                        <h3>CT RATING</h3>
                    </div> -->
                </div>
            </div>
            {% else %}
            <div class="content__leetify">
                <h2>Leetify</h2>
                <h3>Profile not found</h3>
            </div>
            {% endif %}
        </main>
    </body>
</html>
