<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CS stats</title>
    </head>
    <body>
        <main class="content">
            <div class="content__steam">
                <a
                    class="content__steam-link"
                    href="{{ user_stats.steam.general.profileurl }}"
                >
                    {{ user_stats.steam.general.personaname }}
                </a>
                <img
                    class="content__steam-avatar"
                    src="{{ user_stats.steam.general.avatarfull }}"
                    alt="Steam profile avatar"
                />
                <p>
                    Joined
                    <time>
                        {{ user_stats.steam.general.timecreated | datetimeformat
                        }}
                    </time>
                </p>
            </div>
            <div class="content__faceit">
                <p>FACEIT stats</p>
                <div>
                    <p>COUNTRY</p>
                    <p>{{ user_stats.faceit.country }}</p>
                </div>
                <div>
                    <p>JOINED ON</p>
                    <p>{{ user_stats.faceit.createdAt }}</p>
                </div>
                <div>
                    <p>NICKNAME</p>
                    <p>{{ user_stats.faceit.nickname }}</p>
                </div>
                <div>
                    <p>LEVEL</p>
                    <p>{{ user_stats.faceit.statsCS2.skill_level }}</p>
                </div>
                <div>
                    <p>RECENT STATS</p>
                    <p>ADR: {{ user_stats.faceit.recentGameStats.adr }}</p>
                    <p>Kills: {{ user_stats.faceit.recentGameStats.kills }}</p>
                    <p>Deaths: {{ user_stats.faceit.recentGameStats.deaths }}</p>
                    <p>Assists: {{ user_stats.faceit.recentGameStats.assists}}</p>
                    <p>Headshots: {{ user_stats.faceit.recentGameStats.headshot_percentage }}</p>
                    <p>K/D Ratio: {{ user_stats.faceit.recentGameStats.kd_ratio}}</p>
                </div>
            </div>
            <div class="content__leetify">
                <p>Leetify stats</p>
            </div>
        </main>
    </body>
</html>
